.btn-success {
    font-size: 25px;
    font-family: inherit;
    padding: 5px 12px;
    height: 55px;
    min-width: 21.85%;
    margin: 0px 10px 14px 20px;
    text-align: left;
    color: white;
    background: #0099f9;
    text-indent: 4px;
    vertical-align: middle;
    border-radius: 0px;
    border-color: transparent;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18), 0 1px 5px 0 rgba(0,0,0,0.15);
    text-transform: uppercase;
    -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.btn-success:hover {
    background-color:#d1351b;
    font-size: 18px;
    font-family: inherit;
    padding: 5px 12px;
    height: 55px;
    min-width: 21.85%;
    margin: 0px 10px 14px 20px;
    text-align: left;
    color: white;
    text-indent: 4px;
    vertical-align: middle;
    border-radius: 0px;
    border-color: transparent;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    -webkit-transition: box-shadow 0.4s ease-out;
    transition: box-shadow 0.4s ease-out;
}
.btn-warning, .btn-warning:hover {
    font-size: 18px;
    font-family: inherit;
    padding: 5px 12px;
    height: 55px;
    min-width: 21.85%;
    margin: 0px 10px 14px 20px;
    text-align: left;
    color: white;
    background: #d1351b;
    text-indent: 4px;
    vertical-align: middle;
    border-radius: 0px;
    border-color: transparent;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18), 0 1px 5px 0 rgba(0,0,0,0.15);
    text-transform: uppercase;
    -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

section.sidebar .shiny-bound-input.action-button, section.sidebar .shiny-bound-input.action-link {
    margin: auto;
    display: block;
}
.btn-danger {
    background-color: #d1351b;
    border-color: #d1351b;
    height: 55px;
    width: 300px;
    border-radius: 0;
    position: relative;
    font-size: 18px;
}
.btn-primary {
    background-color: darkgrey;
    border-color: darkgrey;
    color: white;
    height: 55px;
    width: 300px;
    border-radius: 0;
    position: relative;
    font-size: 18px;
}
.btn-primary:hover {
    background-color: #d1351b;
    border-color: #d1351b;
    color: white;
    border-color: #d1351b;

}






.main-content-grid{
    display: grid;
    gap: 15px;
    width: 100%
}

.main-content-grid.advanced-grid{
    grid-template-areas:"table2 table3" 
                        "table4 table3";
    grid-template-columns: 60% 40%;
    grid-template-rows: 185px 200px;
}

@media (max-width: 1199px){
  .main-content-grid.advanced-grid{
    grid-template-areas:  "table2" 
                          "table3"
                          "table4"";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    
  }
}

.box {
	 background-color: #fff;
	 height: 100%;
	 margin: 0;
	 padding: 15px;
	 box-shadow: 5px 10px #D3D3D3;
}

.box.box-primary {
	 border-top-color: #15354a !important;
}

 a {
	 color: #0099f9;
}
 body {
	 height: 100vh;
	 overflow: hidden;
}
 body .wrapper {
	 background-color: #15354a;
	 height: 100%;
	 overflow: hidden;
}
 body .wrapper > .content-wrapper {
	 background-color: #f0f0f0;
	 box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
	 height: calc(100vh - 60px);
	 overflow-x: hidden;
	 overflow-y: auto;
	 position: relative;
	 z-index: 1;
}
 body .wrapper > .content-wrapper > .content {
	 display: flex;
	 flex-direction: column;
	 height: 100%;
	 padding: 30px;
	 width: 100%;
}
 body .wrapper > .content-wrapper > .content > .tab-content {
	 flex-grow: 1;
}
 body .wrapper > .content-wrapper > .content > .tab-content > .tab-pane {
	 height: 100%;
}

 .skin-black .main-header {
	 box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
	 height: 60px;
	 width: 100%;
	 z-index: 2;
}
 .skin-black .main-header > .logo {
	 display: none;
}
.skin-black .main-header .navbar {
	 align-items: center;
	 background-color: #f0f0f0;
	 display: flex;
	 height: 100%;
	 margin-left: 0;
}
.skin-black .main-header .navbar .sidebar-toggle {
	 align-items: center;
	 display: flex;
	 justify-content: center;
	 color: #15354a;
	 font-size: 20px;
	 height: 100%;
	 transition: background-color 0.25s;
	 width: 60px;
}
.skin-black .main-header .navbar .sidebar-toggle:hover {
	 background-color: #0099f9;
	 color: #fff;
}
.skin-black .main-header .navbar > .navbar-custom-menu {
	 height: 100%;
	 width: 100%;
}
.skin-black .main-header .navbar > .navbar-custom-menu > .navbar-nav {
	 align-items: center;
	 display: flex;
	 height: 100%;
	 justify-content: space-between;
	 padding: 10px 20px 10px 10px;
	 width: 100%;
}
.skin-black .main-header .navbar > .navbar-custom-menu > .navbar-nav .dropdown {
	 color: #0099f9;
	 font-weight: 600;
}
.skin-black .main-header .navbar > .navbar-custom-menu > .navbar-nav .dropdown:not(:last-child) {
	 margin-right: 20px;
}
.skin-black .main-header .navbar > .navbar-custom-menu > .navbar-nav .dropdown.logo {
	 align-items: center;
	 display: flex;
	 justify-content: center;
	 background: #fff;
	 height: 100%;
	 padding: 0;
	 width: auto;
}
.skin-black .main-header .navbar > .navbar-custom-menu > .navbar-nav .dropdown.logo .logo-link {
	 padding: 0;
}
.skin-black .main-header .navbar > .navbar-custom-menu > .navbar-nav .dropdown.logo .logo-link:hover {
	 background-color: transparent;
}
.skin-black .main-header .navbar > .navbar-custom-menu > .navbar-nav .dropdown.logo .logo-link .logo-img {
	 height: 60px;
	 width: auto;
}
.skin-black .main-header .navbar > .navbar-custom-menu > .navbar-nav .dropdown.title > h1 {
	 color: #15354a;
	 font-size: 24px !important;
	 font-weight: 600;
	 margin: 0;
}
.skin-black .main-header .navbar > .navbar-custom-menu > .navbar-nav .dropdown.version > p {
	 font-size: 16px;
	 margin: 0;
}
.skin-black .main-header .navbar > .navbar-custom-menu > .navbar-nav .dropdown.time-range {
	 flex-grow: 1;
}
.skin-black .main-header .navbar > .navbar-custom-menu > .navbar-nav .dropdown.time-range > p {
	 color: #15354a;
	 font-weight: 400;
	 font-size: 18px;
	 margin: 0;
}
.skin-black .main-sidebar {
	 background-color: #f0f0f0;
	 margin-top: 60px;
	 padding-top: 30px;
	 z-index: 0;
}
.skin-black .main-sidebar .sidebar > .sidebar-menu > li > a {
	 border: none;
	 color: #000000;
	 font-size: 16px;
	 padding: 15px;
	 transition: background-color 0.25s, padding 0.5s;
}

.skin-black .main-sidebar .sidebar > .sidebar-menu > li.active > a {
	 background-color: #0099f9;
	 font-weight: 600;
	 padding-left: 25px;
}

.skin-black .sidebar-menu > li.active > a, .skin-black .sidebar-menu > li:hover > a {
     color:#fff;
     background:#606164;
     border-left-color:#d1351b;
}

.skin-black .sidebar-menu > li > .treeview-menu {
     margin:0 1px; 
     background:#8a8c8f;
     box-shadow:inset 0px 0px 7px #000000;
     padding-bottom:2px 
}

.datatables > .dataTables_wrapper {
	 overflow: auto;
}
 .datatables > .dataTables_wrapper > .dataTables_filter {
	 position: absolute;
	 top: 12px;
	 right: 25px;
}
 .datatables > .dataTables_wrapper > .dataTables_filter > label .form-control {
	 border-radius: 4px;
	 font-size: 14px;
}
 .datatables > .dataTables_wrapper > .dataTables_filter > label .form-control:focus {
	 border-color: #0099f9;
	 box-shadow: 0 0 8px rgba(0, 153, 249, 0.3);
}
 .datatables > .dataTables_wrapper > .dataTables_paginate {
	 bottom: 25px;
	 position: absolute;
	 right: 25px;
}
 .datatables > .dataTables_wrapper > .dataTables_paginate > ul.pagination > li.paginate_button.active > a {
	 background-color: #0099f9;
}
 .datatables > .dataTables_wrapper > .table.dataTable > thead > tr > th, .datatables > .dataTables_wrapper > .table.dataTable tfoot > tr > th {
	 white-space: nowrap;
}
 .datatables > .dataTables_wrapper > .table.dataTable > tbody > tr > td {
	 border: none;
	 transition: background-color 0.3s;
}
 .datatables > .dataTables_wrapper > .table.dataTable > tbody > tr.odd:hover > td, .datatables > .dataTables_wrapper > .table.dataTable > tbody > tr.even:hover > td {
	 background-color: rgba(0, 153, 249, 0.5);
}
 .datatables > .dataTables_wrapper > .table.dataTable > tbody > tr.odd > td {
	 background-color: rgba(227, 231, 233, 0.5);
}
 .datatables > .dataTables_wrapper > .table.dataTable > tbody > tr.active > td, .datatables > .dataTables_wrapper > .table.dataTable > tbody > tr.active:hover > td {
	 background-color: #0099f9;
}



